<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UMARSystemsProject.Properties.Settings.UMARSystemsConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.15.0;Data Source=|DataDirectory|\UMARSystems.accdb"
            providerName="System.Data.OleDb" />
        <add name="UMARSystemsProject.Properties.Settings.UMARSystemsConnectionString1"
            connectionString="Data Source=MBS19\SQLEXPRESS;Initial Catalog=UMARSystems;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="UMARSystemsProject.Properties.Settings.UMARSystemsProdLogConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;J:\Student Account Services\Production\AR Daily Production Log\UMARSystemsProdLog.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>